@use "@carbon/styles/scss/type" as *;
@use "@carbon/styles/scss/motion" as *;
@use "@carbon/styles/scss/theme" as *;

.#{$prefix}--#{$charts-prefix}--annotation{
    // pointer-events: none;
        // pointer-events: none;
        word-wrap: break-word;
        z-index: 1;
        position: absolute;
        display: inline;
        width: inherit;
        height: inherit;

        .annotation{
          z-index: 1059;
          width: inherit;
          height: inherit;


          .tooltip-wrapper {
              z-index: 1059;
              position: absolute;
              display: none;
              top: 0px;
              width: inherit;
              height: inherit;
              max-height: 200px;
          
              .tooltip-content {
                position: absolute;
                height: 90%;
                background-color: $background-inverse;
                text-decoration: $text-inverse  !important;
                text-align: center;
                border-radius: 4px;
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: break-word;
          
                p {
                  color: $text-inverse;
                }
          
                &:hover {
                  transform: scale(1.3);
                  overflow: visible;
                  white-space: normal;
                  padding: 0.2rem;
                  width: auto;
                  height: auto;
                  z-index: 10590;
                }
              }
          
              &::after {
                content: "";
                bottom: -8px;
                position: absolute;
                left: 50%;
                border-width: 5px;
                border-style: solid;
                border-color: rgb(5, 5, 5) transparent transparent transparent;
              }
          }

        
        }
      }