@use "@carbon/styles/scss/type" as *;
@use "@carbon/styles/scss/motion" as *;
@use "@carbon/styles/scss/theme" as *;

.#{$prefix}--#{$charts-prefix}--annotation{
        all: inherit;
        position: relative;
        .wrap{
          all: inherit;
          position: absolute;
        .annotation{
          z-index: 1059;
          // width: inherit;
          height: inherit;
          padding: inherit;

          .tooltip-wrapper {
              z-index: 1059;
              position: absolute;
              bottom: 0px;
              width: inherit;
              height: inherit;
              display: none;
          
              .tooltip-content {
                left: 50%;
                transform: translate(-50%, 0);
                width: "fit-conent";
                left: 50%;
                bottom: 3px;
                position: absolute;
                height: min-content;
                max-height: 90%;
                background-color: $background-inverse;
                text-decoration: $text-inverse  !important;
                text-align: left;
                border-radius: 4px;
                overflow: hidden;
          
                p {
                  color: $text-inverse;
                  padding: 2px 2px 2px 2px; 
                }
          
                &:hover {
                  transform: scale(1.5, 1.5);
                  max-width: none;
                  max-height: none;
                  overflow: visible;
                  white-space: normal;
                  padding: 0.2rem;
                  width: auto;
                  height: auto;
                  z-index: 1059;
                }
              }
          
              &::after {
                content: "";
                bottom: -8px;
                position: absolute;
                left: 50%;
                border-width: 5px;
                margin-left: -5px;;
                border-style: solid;
                border-color: rgb(5, 5, 5) transparent transparent transparent;
              }
          }

        }
        }
      }